<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>ItaCa - $title$</title>
		<link rel="stylesheet" href="/css/csstyle.css" />
	</head>
	<body>
		<header>
			<div class="logo">
				<a href="/">ItaCa</a>
			</div>
			<nav>
				<a href="/registration.html">Join us</a> &bull;
				<div class="dropdown">
					Events
					<div class="dropdown-content">
						<p>ItaCa 2019</p>
					</div>
				</div>
				&bull;
				<div class="dropdown">
					People
					<div class="dropdown-content">
						<p>Names</p>
						<p>Locations</p>
						<p>Interests</p>
						<p>Positions</p>
					</div>
				</div>
				&bull;
				<div class="dropdown">
					Contact
					<div class="dropdown-content">
						<p>mail us</p>
						<p>youtube</p>
					</div>
				</div>
				&bull;
			</nav>
		</header>

		<main role="main">
			$body$
		</main>

		<footer>
			This site is powered by
			<a href="http://jaspervdj.be/hakyll">monads</a>.
		</footer>
	</body>
</html>
