<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>$title$</title>
		<link rel="stylesheet" href="css/csstyle.css" />
	</head>
	<body>
		<header>
			<div class="logo">
				<a href="/">ItaCa</a>
			</div>
			<nav>
				<div class="dropdown">
					Events
					<div class="dropdown-content">
						<p><a href="http://www.mat.unimi.it/users/itaca/">ItaCa 2019</a></p>
					</div>
				</div>
				&bull;
				<div class="dropdown">
					People
					<div class="dropdown-content">
						<p><a href="./">Names</a></p>
						<p><a href="./">Locations</a></p>
						<p><a href="./">Interests</a></p>
						<p><a href="./">Positions</a></p>
					</div>
				</div>
				&bull;
				<div class="dropdown">
					Contact
					<div class="dropdown-content">
						<p><a href="/">mail us</a></p>
						<p><a href="/">youtube</a></p>
					</div>
				</div>
			</nav>
		</header>

		<main role="main">
			$body$
		</main>

		<footer>
			This site is powered by
			<a href="http://jaspervdj.be/hakyll">monads</a>.
		</footer>
	</body>
</html>
