<!DOCTYPE html>
<html lang="en">

 <head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/main.css" />
 </head>
 <body>
  <header>
   <div class="logo">
    <a href="/"><img src="../assets/images/itaca_logo.png" width="100"></a>
   </div>
   <nav>
    {%- for item in site.data.navigation %} 
      <div class="dropdown">
        {% if item.url -%}<a href={{ item.url | escape_url  }}>{{ item.label }}</a> 
        {%- else -%}{{ item.label }}{%- endif %} 
        {%- if item.dropdown %}
          <div class="dropdown-content">
          {%- for i in item.dropdown %}
            <p><a href="{{ i.url | escape_url }}" target="{{ i.target }}">{{ i.label }}</a></p> 
          {%- endfor %}
          </div> 
        {%- endif %} 
        
      </div> 
      &bull;
    {%- endfor %} 
   </nav>
  </header>

  <main role="main">
   {{ content }}
  </main>
 </body>

 <p style="margin-bottom:2cm;" ></p>
</html>
