<!DOCTYPE html>
<html lang="en">

 <head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/main.css" />
 </head>
 <body>
  <header>
   <div class="logo">
    <a href="/"><img src="../assets/images/itaca_logo.png" width="100"></a>
   </div>
   <nav>
    <div class="dropdown">
     Upcoming
     <div class="dropdown-content">
      <p><a href="../pages/fest21.html">Fest2021</a></p>
     </div>
    </div>
    &bull;
    <div class="dropdown">
     Past
     <div class="dropdown-content">
      <p><a href="http://www.mat.unimi.it/users/itaca/" target="_blank">ItaCa19</a></p>
      <p><a href="../pages/fest20.html">Fest2020</a></p>
     </div>
    </div>
    &bull;
    <div class="dropdown">
      Teaching
      <div class="dropdown-content">
       <p><a href="">Course2122</a></p>
      </div>
     </div>
    &bull;
    <div class="dropdown">
     People
     <div class="dropdown-content">
      <p><a href="../pages/name.html">Names</a></p>
      <p><a href="../pages/loca.html">Locations</a></p>
<!--      <p><a href="../pages/inte.html">Interests</a></p> -->
<!--      <p><a href="../pages/posi.html">Positions</a></p> -->
     </div>
    </div>
    &bull;
    <div class="dropdown">
     Other
     <div class="dropdown-content">
<!--      <p><a href="../pages/mail.html">mail us</a></p> -->
      <p><a href="https://www.youtube.com/channel/UCKdVVjPg_dHhbIiuzLh4Llg" target="_blank">youtube</a></p>
      <p><a href="https://www.facebook.com/groups/507590330041282/" target="_blank">facebook</a></p>
     </div>
    </div>
   </nav>
  </header>

  <main role="main">
   {{ content }}
  </main>
 </body>

 <header></header> 

 This website is managed by <a href="https://tetrapharmakon.github.io">Fosco Loregian</a> and <a href="https://dpl0a.github.io">Daniele Palombi</a>.
 <p style="margin-bottom:2cm;" ></p>
</html>
